* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Gray-White, #ffffff);
  width: 1316px;
  height: 1080px;
  overflow: hidden;

  .text2 {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: 0;
    color: var(--Text-Icon-Font-Gy1-90--primary, #000000e5);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .frame {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  .aItemDrawerHeader {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: var(--Gray-Gray3-, #e7e7e7);
    background: var(--Gray-White, #ffffff);
    padding: 16px 16px 15px;
    min-width: 1316px;
    height: 56px;

    .title {
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Text-Icon-Font-Gy1-90--primary, #000000e5);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    .itemCloseBtn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 3px;
      padding: 2px;
    }
  }

  .frame23 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 25px 16px 0px 32px;

    .frame19 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 18px;
      padding-bottom: 16px;

      .title2 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Text-Icon-Font-Gy1-90--primary, #000000e5);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }

      .instance {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border: 1px solid var(--Brand-Brand7-Normal, #0052d9);
        border-radius: 3px;
        background: var(--Gray-White, #ffffff);
        padding: 4px 15px;
        overflow: hidden;

        .text {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Brand-Brand7-Normal, #0052d9);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .table {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border: 1px solid var(--Gray-Gray3-, #e7e7e7);
      border-radius: 8px;
      overflow: hidden;

      .itemHeaderCellBorder {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        background: #f2f4f7;
        padding: 12px 16px;

        .label {
          flex-grow: 1;
          height: 22px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 22px;
          letter-spacing: 0;
          white-space: nowrap;
          color: var(--color-breadcrumb_active-text-default, #1c1f23);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .itemContentColumnHea {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;

        .bg {
          border: 1px solid var(--Gray-Gray4-, #dcdcdc);
          border-radius: 3px;
          background: var(--Text-Icon-Font-Wh1-90--anti, #ffffffe5);
          width: 16px;
          height: 16px;
        }

        .itemUnitCheckbox {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          background: #f2f4f7;
          padding: 15px;
        }

        .itemUnitCheckbox2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-width: 0px 1px 1px 0px;
          border-style: solid;
          border-color: var(--Gray-Gray3-, #e7e7e7);
          background: var(--Gray-White, #ffffff);
          padding: 15px 14px 14px 15px;
        }
      }

      .itemContentColumnBor {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;

        .itemContentCellBorde {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          border-width: 0px 1px 1px 0px;
          border-style: solid;
          border-color: var(--Gray-Gray3-, #e7e7e7);
          background: var(--Gray-White, #ffffff);
          padding: 8px 11px 7px 12px;

          .frame25 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            column-gap: 10px;
            border: 1px solid #0000001a;
            border-radius: 4px;
            padding: 3px 5px;
          }
        }
      }

      .itemContentColumnBor2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;

        .itemContentCellBorde2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          border-width: 0px 1px 1px 0px;
          border-style: solid;
          border-color: var(--Gray-Gray3-, #e7e7e7);
          background: var(--Gray-White, #ffffff);
          padding: 8px 11px 7px 12px;

          .frame252 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #0000001a;
            border-radius: 4px;
            padding: 3px 5px;
          }
        }
      }

      .itemContentColumnBor3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;

        .itemHeaderCellBorder2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 8px;
          background: #f2f4f7;
          padding: 12px 16px;

          .label2 {
            flex-grow: 1;
            height: 22px;
            overflow: hidden;
            text-align: right;
            text-overflow: ellipsis;
            line-height: 22px;
            letter-spacing: 0;
            white-space: nowrap;
            color: var(--color-breadcrumb_active-text-default, #1c1f23);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .itemContentCellBorde3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 8px;
          border-width: 0px 1px 1px 0px;
          border-style: solid;
          border-color: var(--Gray-Gray3-, #e7e7e7);
          background: var(--Gray-White, #ffffff);
          padding: 8px 11px 7px 12px;

          .frame253 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: flex-end;
            column-gap: 10px;
            border: 1px solid #0000001a;
            border-radius: 4px;
            padding: 3px 5px;
          }
        }
      }

      .itemContentColumnBor4 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;

        .itemHeaderCellBorder3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;
          background: #f2f4f7;
          padding: 12px 16px;

          .label3 {
            flex-shrink: 0;
            width: 192px;
            height: 22px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            line-height: 22px;
            letter-spacing: 0;
            white-space: nowrap;
            color: var(--color-breadcrumb_active-text-default, #1c1f23);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .itemContentCellBorde4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 16px;
          border-width: 0px 1px 1px 0px;
          border-style: solid;
          border-color: var(--Gray-Gray3-, #e7e7e7);
          background: var(--Gray-White, #ffffff);
          padding: 7px 15px 6px 16px;

          .instance2 {
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            align-items: center;
            margin-right: -4px;
            border-radius: 16px;
            padding: 8px;
            overflow: hidden;

            .delete {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }

  .btnGroup {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    margin-top: 573px;
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: var(--Gray-Gray3-, #e7e7e7);
    background: var(--Gray-White, #ffffff);
    padding: 11px 0px 12px 16px;
    width: 1316px;

    .button {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border-radius: 3px;
      background: var(--Brand-Brand7-Normal, #0052d9);
      padding: 5px 16px;

      .text3 {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-Icon-Font-Wh1-90--anti, #ffffffe5);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .button2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 3px;
      background: var(--Gray-Gray3-, #e7e7e7);
      padding: 5px 16px;
      overflow: hidden;
    }
  }
}
