* {
  box-sizing: border-box;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 1920px;
  height: 1080px;
  overflow: hidden;

  .search {
    width: 16px;
    height: 16px;
  }

  .instance {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-radius: 3px;
    padding: 8px;
    overflow: hidden;
  }

  .instance2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: var(--Gray-Gray3-, #e7e7e7);
    background: var(--Gray-White, #ffffff);
    padding: 12px 24px 11px;
    min-width: 1920px;
    height: 56px;

    .itemMenuLogoBaseLogo {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      height: 32px;

      .tDesignLogo {
        flex-shrink: 0;
        border-radius: 99px;
        width: 28px;
        height: 28px;
      }

      .changeName {
        flex-shrink: 0;
        padding: 0px 0px 5px;
        line-height: 23px;
        letter-spacing: -0.92px;
        color: #203251;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 23px;
        font-weight: 500;
      }
    }

    .aMasterItemHeaderMen {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
    }
  }

  .autoWrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;

    .label {
      flex-grow: 1;
      height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 22px;
      letter-spacing: 0;
      white-space: nowrap;
      color: var(--Text-Icon-Font-Gy1-90--primary, #000000e5);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .instance4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background: #ffffff;
      width: 232px;
      min-width: 232px;
      height: 1024px;

      .frame {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding: 8px;
        row-gap: 4px;

        .prefixIcon {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
        }

        .itemNormalMenu1stLig {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;
          border-radius: 3px;
          background: var(--Gray-White, #ffffff);
          padding: 7px 16px;
          width: 216px;
        }

        .itemNormalMenu1stLig2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          border-radius: 3px;
          background: var(--Gray-White, #ffffff);
          padding: 7px 16px;

          .prefixIcon2 {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            overflow: hidden;
          }
        }

        .itemNormalMenu1stLig3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          border-radius: 3px;
          background: var(--Gray-White, #ffffff);
          padding: 7px 16px;
        }

        .itemNormalMenu1stLig4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 4px;

          .itemNormalMenu1st {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-radius: 3px;
            background: var(--Gray-White, #ffffff);
            padding: 7px 16px;
            height: 36px;

            .prefixContent {
              display: flex;
              align-items: center;
              column-gap: 8px;
              width: 164px;
              overflow: hidden;
            }
          }

          .itemNormalMenu2ndLig {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border-radius: 3px;
            background: var(--Gray-White, #ffffff);
            padding: 7px 16px 7px 44px;
          }
        }
      }

      .aMasterItemNormalMen {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: var(--Gray-Gray3-, #e7e7e7);
        background: var(--Gray-White, #ffffff);
        padding: 13px 16px 14px;
        height: 56px;

        .instance3 {
          display: flex;
          flex-grow: 1;
          flex-shrink: 0;
          align-items: center;
          margin-right: 168px;
          border-radius: 3px;
          padding: 8px;
          overflow: hidden;
        }
      }
    }

    .frame13 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 12px;

      .text {
        flex-shrink: 0;
        padding: 18px 1598px 10px 12px;
        width: 1688px;
        line-height: 20px;
        letter-spacing: -0.8px;
        color: #203251;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .frame11 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 16px;
        padding-left: 16px;
        row-gap: 16px;

        .frame9 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 16px;

          .frame10 {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            column-gap: 16px;
            row-gap: 16px;

            .instance5 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;
              border: 1px solid var(--Gray-Gray4-, #dcdcdc);
              border-radius: 3px;
              background: var(--Gray-White, #ffffff);
              padding: 4px 7px;
              width: 240px;
              overflow: hidden;

              .placeholder {
                flex-grow: 1;
                height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 22px;
                letter-spacing: 0;
                white-space: nowrap;
                color: var(--Text-Icon-Font-Gy3-40--placeholder, #00000066);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
              }
            }
          }

          .frame5 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 12px;

            .instance6 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 3px;
              background: var(--Brand-Brand7-Normal, #0052d9);
              padding: 8px 16px;
              overflow: hidden;
            }

            .instance7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border: 1px solid var(--Gray-Gray4-, #dcdcdc);
              border-radius: 3px;
              background: var(--Gray-White, #ffffff);
              padding: 7px;
              overflow: hidden;
            }
          }
        }

        .frame52 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 16px;

          .instance8 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border-radius: 3px;
            background: var(--Brand-Brand7-Normal, #0052d9);
            padding: 5px 16px;
            overflow: hidden;

            .add {
              flex-shrink: 0;
              width: 16px;
              height: 16px;
            }

            .text2 {
              flex-shrink: 0;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-Icon-Font-Wh1-90--anti, #ffffffe5);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }

          .instance9 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border: 1px solid var(--Gray-Gray4-, #dcdcdc);
            border-radius: 3px;
            background: var(--Gray-White, #ffffff);
            padding: 4px 15px;

            .text3 {
              flex-shrink: 0;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-Icon-Font-Gy1-90--primary, #000000e5);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }

        .frame2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          background: var(--Gray-White, #ffffff);
          overflow: hidden;

          .table {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid var(--Gray-Gray3-, #e7e7e7);
            border-radius: 8px;
            overflow: hidden;

            .itemContentCellBorde {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;
              border-width: 0px 1px 1px 0px;
              border-style: solid;
              border-color: var(--Gray-Gray3-, #e7e7e7);
              background: var(--Gray-White, #ffffff);
              padding: 12px 15px 11px 16px;
            }

            .itemHeaderCellBorder {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;
              background: #f2f4f7;
              padding: 12px 16px;

              .label2 {
                flex-grow: 1;
                height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 22px;
                letter-spacing: 0;
                white-space: nowrap;
                color: var(--color-breadcrumb_active-text-default, #1c1f23);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
              }
            }

            .itemContentColumnHea {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;

              .bg {
                border: 1px solid var(--Gray-Gray4-, #dcdcdc);
                border-radius: 3px;
                background: var(--Text-Icon-Font-Wh1-90--anti, #ffffffe5);
                width: 16px;
                height: 16px;
              }

              .itemUnitCheckbox {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                background: #f2f4f7;
                padding: 15px;
              }

              .itemUnitCheckbox2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                border-width: 0px 1px 1px 0px;
                border-style: solid;
                border-color: var(--Gray-Gray3-, #e7e7e7);
                background: var(--Gray-White, #ffffff);
                padding: 15px 14px 14px 15px;
              }
            }

            .itemContentColumnBor {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
            }

            .itemContentColumnBor2 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
            }

            .itemContentColumnBor3 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;

              .itemContentCellBorde2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                column-gap: 24px;
                border-width: 0px 1px 1px 0px;
                border-style: solid;
                border-color: var(--Gray-Gray3-, #e7e7e7);
                background: var(--Gray-White, #ffffff);
                padding: 12px 15px 11px 16px;

                .instance10 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 8px;
                  border-radius: 3px;
                  overflow: hidden;

                  .text4 {
                    flex-shrink: 0;
                    line-height: 22px;
                    letter-spacing: 0;
                    color: var(--Brand-Brand7-Normal, #0052d9);
                    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                  }
                }
              }
            }
          }

          .instance14 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            padding: 16px 24px;
            height: 64px;

            .totalContent {
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-Icon-Font-Gy2-60--secondary, #00000099);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .group {
              display: inline-flex;
              align-items: center;
              justify-content: flex-end;
              column-gap: 16px;

              .select {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 8px;
                border: 1px solid var(--Gray-Gray4-, #dcdcdc);
                border-radius: 3px;
                background: var(--Gray-White, #ffffff);
                padding: 4px 7px;
                width: 112px;

                .chevronDown {
                  flex-shrink: 0;
                  width: 16px;
                  height: 16px;
                  overflow: hidden;
                }
              }

              .pageBtn {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 8px;

                .t2 {
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Text-Icon-Font-Gy1-90--primary, #000000e5);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }

                .instance11 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  border-radius: 3px;
                  background: var(--Brand-Brand7-Normal, #0052d9);
                  padding: 5px 14px 5px 13px;
                  overflow: hidden;

                  .t {
                    line-height: 22px;
                    letter-spacing: 0;
                    color: var(--Text-Icon-Font-Wh1-90--anti, #ffffffe5);
                    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                  }
                }

                .instance12 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  border: 1px solid var(--Gray-Gray4-, #dcdcdc);
                  border-radius: 3px;
                  background: var(--Gray-White, #ffffff);
                  padding: 4px 11px;
                  overflow: hidden;
                }

                .instance13 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  border: 1px solid var(--Gray-Gray4-, #dcdcdc);
                  border-radius: 3px;
                  background: var(--Gray-White, #ffffff);
                  padding: 4px 10px 4px 9px;
                  overflow: hidden;
                }
              }

              .jumper {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 8px;
                border-radius: 3px;
                background: var(--Gray-Gray1, #f3f3f3);
                padding: 2px 8px;
                width: 160px;

                .text5 {
                  flex-shrink: 0;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Text-Icon-Font-Gy2-60--secondary, #00000099);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }

                .input {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  border: 1px solid var(--Gray-Gray4-, #dcdcdc);
                  border-radius: 3px;
                  background: var(--Gray-White, #ffffff);
                  padding: 2px 7px;
                  overflow: hidden;

                  .placeholder2 {
                    flex-grow: 1;
                    height: 22px;
                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis;
                    line-height: 22px;
                    letter-spacing: 0;
                    white-space: nowrap;
                    color: var(--Text-Icon-Font-Gy1-90--primary, #000000e5);
                    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
